*~
*.cm[ioxa]
*.cmxa
*.[oa]
*.annot
*.top
._d
._bcdi
*.ppo

bytecode
nativecode

pcre/global_def.ml
pcre/global_def.mli
pcre/match.ml
pcre/mikmatch.ml
pcre/mikmatch.mli
pcre/mm_util.ml
pcre/syntax_common.ml
