name = "mikmatch_str"
version = "VERSION"
description = "Pattern matching extended with regexps in Ocamllex syntax"

requires = "camlp4 pcre unix"
requires(toploop) = "tophide"

archive(syntax,toploop) = "pa_mikmatch_str.cma run_mikmatch_str.cma"
archive(syntax,create_toploop) = "pa_mikmatch_str.cma run_mikmatch_str.cma"
archive(syntax,preprocessor) = "pa_mikmatch_str.cma"
archive(byte) = "run_mikmatch_str.cma"
archive(native) = "run_mikmatch_str.cmxa"
