name = "micmatch_pcre"
version = "VERSION"
description = "Pattern matching extended with regexps in Ocamllex syntax"

requires = "camlp4 pcre unix"
archive(syntax,toploop) = "pa_micmatch_pcre.cma run_micmatch_pcre.cma"
archive(syntax,create_toploop) = "pa_micmatch_pcre.cma run_micmatch_pcre.cma"
archive(syntax,preprocessor) = "pa_micmatch_pcre.cma"
archive(byte)    = "run_micmatch_pcre.cma"
archive(native)  = "run_micmatch_pcre.cmxa"
